@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* 
verde do menu:

normal: #04292A

hover: #298185


*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Manrope', sans-serif; */
}

body {
  background-color: #eee;
  height: 2000px;
}

.menu {
  font-size: 14px;
  text-decoration: none;
  list-style: none;
  color: #04292a;
}

.menu:hover {
  color: #298185;
}

